// path to vanilla antd less styles
// default variables https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
@import "~antd/dist/antd.less";

// redefined ant design variables
@body-background                : ;
@font-family                    : ;
@font-family-no-number          : ;
@code-family                    : ;
@font-size-base                 : 13px;
@font-size-lg                   : 15px;

@border-color-base              : #e4e9f0;

@background-color-light         : #f2f4f8;
@background-color-base          : #f2f4f8;

@primary-color                  : #04c977;
@info-color                     : #0887c9;
@success-color                  : #46be8a;
@error-color                    : #fb434a;
@highlight-color                : #fb434a;
@warning-color                  : #f39834;
@normal-color                   : #e4e9f0;

@input-padding-horizontal       : 13px;
@input-padding-vertical-base    : 7px;
@input-padding-vertical-sm      : 11px;
@input-padding-vertical-lg      : 11px;
@input-border-color             : #e4e9f0;
@input-hover-border-color       : #0190fe;

@shadow-color                   : rgba(0, 0, 0, .15);
@box-shadow-base                : @shadow-1-down;
@shadow-1-up                    : 0 -10px 35px -5px @shadow-color;
@shadow-1-down                  : 0 10px 35px -5px @shadow-color;
@shadow-1-left                  : -10px 10px 35px -5px @shadow-color;
@shadow-1-right                 : 10px 0 35px -5px @shadow-color;
@shadow-2                       : 0 0px 35px -5px @shadow-color;

@table-header-bg                : #f2f4f8;
@table-header-sort-bg           : #f2f4f8;
@table-row-hover-bg             : #e4e9f0;
@table-padding-vertical         : 12px;
@table-padding-horizontal       : 8px;