@import '../../../../../resources/mixins';

.profile {
  &__header {
    background-size: cover;
  }
  &__social-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: rem(20);
    padding-bottom:rem(15);
  }

  &__social-counts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: $text-darken-more;
  }

  &__actions {
    .ant-btn {
      margin-top: -1px;
      position: relative;
      z-index: 1;
      border-radius: 0;

      &:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      &:hover {
        z-index: 2;
      }
    }
  }

  &__content-wrapper {
    margin-top: -180px;
  }

  &__card {
    border: none;
    background: $gray-darken;
    margin-top: rem(-120);
    background-size: cover;
    padding: rem(35) rem(35) rem(25) rem(35);

    @media (max-width: $xl-max-width) {
      margin-top: 0;
    }
  }

  &__wall {
    &-item {
      margin-top: rem(20);
      margin-bottom: rem(20);
      padding-bottom: rem(20);
      border-bottom: 1px solid $gray-border;
    }
    &-avatar {
      float: left;
    }
    &-content {
      margin-left: rem(70);

      &--inner {
        border: none;
      }
    }
    &-comments {
      margin-top: rem(20);
    }
    &-message-img {
      border-radius: 3px;
      margin: 0 rem(5) rem(10) 0px;
      max-width: rem(200);
    }

    &-img {
      border-radius: 3px;
      max-width: rem(200);
      margin: rem(0) rem(5) rem(10) rem(0);
    }
  }
}